

<!-- required code for adding any single item from array -->
<a  [routerLink] = "[index]"
    routerLinkActive  = "active"
    style="cursor: pointer;"
    class="list-group-item clearfix ">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        <p class="list-group-item-next">{{recipe.description}}</p>
    </div>
    <span class="pull-right">
        <!-- src="{{recipe.imagePath}}" this can be also used for accessing image (property binding) -->
        <img 
            [src] ="recipe.imagePath"
            alt="{{recipe.name}}" 
            class="img-responsive" style="max-height: 50px;">
    </span>
</a> 